---
---

@import "minima";

@font-face {
  font-family: "IBM Plex Sans";
  src: url('{{ "/assets/IBMPlexSans-Regular.ttf" | relative_url }}') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url('{{ "/assets/IBMPlexSans-Medium.ttf" | relative_url }}') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$accent-color: #A98743;

body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

a,
a:visited {
  color: $accent-color;
}

a:hover {
  color: $accent-color;
}

.site-title,
.site-title:visited,
.site-nav .page-link,
.site-nav .page-link:visited {
  color: $accent-color;
}

.site-header {
  border-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.page-heading,
.post-title,
.post-list-heading {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

strong,
b {
  font-weight: 500;
}

.wrapper {
  max-width: 600px;
}
